<template>
    <section class="hero is-large is-info is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1" style="color: white;">Coming soon...</h1>
                <h2 class="subtitle is-3" style="color: white;">check back later.</h2>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: 'Blog'
}
</script>
