<template>
  <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            Copyright © 2018 Jacob Lindelof
          </p>
          <a href="https://bulma.io">
            <img src="/static/img/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
          </a>
        </div>
      </div>
    </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>
