<template>
  <div>
    <section class="hero is-medium is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1" style="color: white;">Jacob Lindelof</h1>
          <h2 class="subtitle is-3" style="color: white;">Software developer, systems administrator, and video game enthusiast.</h2>
        </div>
      </div>
    </section>
    <section class='section'>
      <div class="container">
        <div class="columns features">
          <div class="column is-4">
            <div class="card">
              <div class="card-image has-text-centered">
                <i class="fas fa-code"></i>
              </div>
              <div class="card-content">
                <div class="content">
                  <h4 class="title has-text-centered">Software Development</h4>
                  <p></p>
                  <p>Three years experience developing production ready applications to support small and midsize businesses.
                    Specializing in backend web development using Django and Django REST Framework to create the RESTful
                    API's to power todays front end applications. Other technologies include Flask, SQLAlchemy, and minor
                    experience working with legacy .Net and VB6 applications.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="card">
              <div class="card-image has-text-centered">
                <i class="fas fa-server"></i>
              </div>
              <div class="card-content">
                <div class="content">
                  <h4 class="title has-text-centered">Systems Administration</h4>
                  <p></p>
                  <p>Over 7 years of backend systems and network administration experience working with both Windows and *nix
                    server enviroments. First hand experience working with production SQL, MySQL, and PostgreSQL databases.
                    As well as setup, migration, and administration of Microsoft Exchange and Office 365. Extensive VMWare
                    virtuilization and shared storage experience.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="card">
              <div class="card-image has-text-centered">
                <i class="fa fa-trophy"></i>
              </div>
              <div class="card-content">
                <div class="content">
                  <h4 class="title has-text-centered">Esports</h4>
                  <p></p>
                  <p>Four years of experience running esports events in the Tampa Bay area. Specializing in network setup and
                    monitoring for events of over 200 peoplem with low latency and high bandwith requirements with experience
                    working events with over 1000 attendees. As well as setup and administration of Counter Strike: Global
                    Offensive game servers with strict preformance requirements.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'HomePage'
}
</script>
