<template>
  <nav class="navbar" role="navigation" aria-label="main-navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://lindelof.co">
          <img src="/static/img/jacoblindelof.png" alt="Jacob Lindelof">
        </a>
        <a class="navbar-item" href="https://gitlab.com/unholypanda">
          <span class="icon" style="color:#fc6d26;">
            <i class="fab fa-gitlab fa-lg"></i>
          </span>
        </a>
        <a class="navbar-item" href="https://twitter.com/unholypanda">
          <span class="icon" style="color:#1DA1F2;">
            <i class="fab fa-twitter fa-lg"></i>
          </span>
        </a>
        <a class="navbar-item" href="https://www.linkedin.com/in/jlindelof/">
          <span class="icon" style="color:#006fa6;">
            <i class="fab fa-linkedin fa-lg"></i>
          </span>
        </a>
        <div id="navbarBurger" class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <router-link to="/" class="navbar-item">Home</router-link>
          <router-link to="/resume/" class="navbar-item">Resume</router-link>
          <router-link to="/blog/" class="navbar-item">Blog</router-link>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'NavBar'
}
</script>

<style>

</style>
