<template>
  <div>
    <div v-for="industry in industries" :key="industry.name">
      <section class="section" v-bind:id="industry.id">
        <h1 class="title has-text-centered">{{ industry.name }}</h1>
        <div class="columns">
          <div class="column is-three-fifths is-offset-one-fifth">
            <div class="box" v-for="position in industry.positions" :key="position.company_name">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <!-- <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image"> -->
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ position.company_name }}</strong>
                      <small>{{ position.city }}</small><br>
                      <small>{{ position.start_date }} - {{position.end_date}}</small>
                    </p>
                    <p v-html='position.summary'>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Resume',
  data() {
    return {
      industries: [
        {
          name: 'Software Development',
          image_url: 'img/taro.jpg',
          id: 'software-development',
          years: 3,
          positions: [
            {
              company_name: 'Blue Streak Docs',
              city: 'Clearwater, FL',
              start_date: '2015',
              end_date: 'Present',
              summary:
                'My responsibilities include the management of our entire computer network including over 50 workstations, and in excess of 10 servers running Windows and various flavors of Linux. In my 4 years here I have transitioned up from a mostly physical server network to an almost full virtual network running VMWare ESXi utilizing StarWind vSAN for High Availability of our critical services. I also implemented a comprehensive backup system unloving nightly backups locally, and weekly offsite backups for disaster recovery purposes.<br><br>In addition to my duties maintaining the servers and network I developed an Intranet application to handle the majority of our internal company procedures. It includes a time clock for handling employee time tracking with vacation support, QuickBooks integration, and email notifications. As well at a employee commendation system, knowledge base, statistics tracking, and a reporting platform to view real time production statistics from our ERP.'
            },
            {
              company_name: 'Independent Consultant',
              city: 'Clearwater, FL',
              start_date: '2016',
              end_date: 'Present',
              summary:
                'Built custom websites and web services for clients. Mostly in Django with some Flask work here and there when I didn’t need the full Django suite.'
            }
          ]
        },
        {
          name: 'Systems Administraton',
          image_url: 'img/taro2.jpg',
          id: 'systems-administration',
          years: 7,
          positions: [
            {
              company_name: 'Blue Streak Docs',
              city: 'Clearwater, FL',
              start_date: 'September 2013',
              end_date: 'Present',
              summary:
                'My responsibilities include the management of our entire computer network including over 50 workstations, and in excess of 10 servers running Windows and various flavors of Linux. In my 4 years here I have transitioned up from a mostly physical server network to an almost full virtual network running VMWare ESXi utilizing StarWind vSAN for High Availability of our critical services. I also implemented a comprehensive backup system unloving nightly backups locally, and weekly offsite backups for disaster recovery purposes.<br><br>In addition to my duties maintaining the servers and network I developed an Intranet application to handle the majority of our internal company procedures. It includes a time clock for handling employee time tracking with vacation support, QuickBooks integration, and email notifications. As well at a employee commendation system, knowledge base, statistics tracking, and a reporting platform to view real time production statistics from our ERP.'
            },
            {
              company_name: 'Pinellas Computers',
              city: 'Largo, FL',
              start_date: 'August 2012',
              end_date: 'September 2013',
              summary:
                'As a computer service technician I provided support and repair services to small businesses and consumers. Some examples of small business support include network and server setup, Office365 setup and migrations, as well as setting up comprehensive backup solutions for our customers. My consumer support duties ranged from simple troubleshooting to in-depth hardware repair including desktop and laptop motherboard replacement, DC jack repairs, and other various hardware related issues.'
            },
            {
              company_name: 'Peter Wittwer',
              city: 'Largo, FL',
              start_date: 'June 2010',
              end_date: 'August 2012',
              summary:
                'At Peter Wittwer I was responsible for the upkeep and maintenance multiple windows servers including a Domain Controller, a MS SQL database, a web server, and a local Exchange server. I was also responsible for all end user technical support.<br><br>Some of my accomplishments during my employment at Peter Wittwer were the migration from a local onsite Exchange server to Office365, which at that time was still Microsoft Online Services, with virtually zero downtime. As well as migrating our whole Chicago office from Windows XP to Windows 7 with minimal issues for our end users.'
            }
          ]
        },
        {
          name: 'Esports',
          image_url: 'img/esports.jpg',
          id: 'esports',
          years: 4,
          positions: [
            {
              company_name: 'Tampa Esports',
              city: 'Tampa, FL',
              start_date: 'July 2013',
              end_date: 'Present',
              summary:
                'Tampa Esports is a grassroots online gaming organization organized by a few close friends and I with the goal of providing events for people in the Tampa Bay area to enjoy themselves and compete against similar skilled players in a fun environment.<br><br>My responsibilities at Tampa Esports include setup and maintenance of a very exotic 200+ user network, with strict low latency requirements for our end users to have an optimal experience. In addition to to my network responsibilities I was also responsible for running all our in-house servers for DNS, VOIP programs, and various game servers. I was also responsible running the tournament and the servers for our headlining 24 team, 120 player Counter Strike tournaments.'
            },
            {
              company_name: 'Dreamhack Atlanta 2016',
              city: 'Atlanta, GA',
              start_date: 'May 2016',
              end_date: '',
              summary:
                "I was a volunteer on the Network team at Dreamhack Austin 2016, Dreamhack's first event in North America. I was responsible with helping with the initial setup, and subsequent maintenance and monitoring of their massive network supporting over 1000 attendees, as well as various high bandwidth requirement streams and tournament productions."
            },
            {
              company_name: 'Esports Arena',
              city: 'Santa Ana, CA',
              start_date: '2016',
              end_date: '2017',
              summary:
                'Using my skills and knowledge gained running Counter Strike servers for Tampa Esports, I helped out at Esports Arena to run some of their tournaments onsite in Santa Ana. As well as from remotely after I took care of the initial onsite setup and configuration required on my first trip out there.'
            }
          ]
        }
      ]
    }
  }
}
</script>
